@font-face {
  font-family: "loraitalic";
  src: url("../fonts/lora-italic-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/lora-italic-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "loraregular";
  src: url("../fonts/lora-variablefont_wght-webfont.woff2") format("woff2"),
    url("../fonts/lora-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root,
:root::after,
:root::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  align-content: center;
  padding: 0 30px;
  background-color: hsl(207, 26%, 8%);
  color: hsl(216, 33%, 94%);
  height: 50px;
}

header > h1 {
  margin: 0;
  padding: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

header > h1 > a {
  text-decoration: unset;
}

header > h1 > a:visited {
  color: unset;
}

header > div {
  justify-self: end;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

body {
  font-family: "loraregular", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: hsl(214, 64%, 2%);
  color: hsl(216, 33%, 94%);
}

.buttons-container {
  display: flex;
  gap: 8px;
}

.buttons-container > a > button {
  margin: 0;
  padding: 5px 30px;
  border-radius: 4px;
  border: none;
  background-color: hsl(216, 61%, 53%);
  color: hsl(216, 14%, 93%);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttons-container > a > button:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2) inset;
}

.messages-container {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 30px 0;
  height: 100dvh;
}

.messages-container > h2 {
  font-size: 27px;
  padding: 30px 0 30px 30px;
  margin: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min-content;
  border-radius: 6px;
  border: 2px solid hsl(210, 1%, 55%);
  background-color: hsl(240, 1%, 15%);
  padding: 15px 30px;
  margin: 0 30px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.messages > * {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.message-body {
  font-size: 13px;
}

.user-name-date {
  font-size: 12px;
  font-style: italic;
}

.new-message {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100;
  height: 100;
  border-radius: 50%;
  background-color: hsl(210, 3%, 15%);
  cursor: pointer;
  margin: 0 20px 5px 0;
  border: none;
}

.new-message:hover {
  background-color: hsl(210, 1%, 27%);
}

.register-form {
  display: flex;
  flex-direction: column;
  background-color: hsl(210, 22%, 9%);
  border-radius: 4px;
  margin: 30px 30px;
  padding: 30px 30px;
  border: 2px solid hsl(210, 1%, 27%);
}

.register-form > * {
  margin: 0;
  padding: 0;
}

.register-form > h2 {
  margin-bottom: 16px;
}

.register-form > label {
  margin-bottom: 4px;
}

.register-form > input {
  width: 300px;
  height: 25px;
  padding: 0 0 0 4px;
  margin: 0 0 12px 0;
  box-sizing: border-box;
  border-radius: 2px;
}

.register-form > button,
.login-form > button {
  width: 300px;
  padding: 6px 0;
  margin: 8px 0 0 0;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  background-color: hsl(216, 61%, 53%);
  color: hsl(216, 14%, 93%);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.register-form > button:hover,
.login-form > button:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2) inset;
}

.error-email-taken,
.error-password-mismatch {
  margin-top: -8px;
  margin-bottom: 12px;
  color: hsl(12, 74%, 55%);
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: hsl(210, 22%, 9%);
  border-radius: 4px;
  margin: 30px 30px;
  padding: 30px 30px;
  border: 2px solid hsl(210, 1%, 27%);
}

.login-form > * {
  margin: 0;
  padding: 0;
}

.login-form > h2 {
  margin-bottom: 20px;
}

.login-form > label {
  margin-bottom: 5px;
}

.login-form > input {
  width: 300px;
  height: 25px;
  margin-bottom: 15px;
  padding: 0 0 0 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

.message-form {
  position: fixed;
  top: 0%;
  background-color: red;
  width: 900px;
  height: 300px;
  margin: 150px 30px 0 30px;
}

.hide {
  opacity: 0;
}