extends layout

block content
  div(class="messages-container")
    h2 MESSAGES
    each message in messages
      div(class="messages")
        h3(class="title") #{message.title}
        h3(class="message-body") #{message.body}
        if currentUser
          h3(class="user-name-date") By #{message.user.full_name} at #{message.date_formatted}
        
        form(method="POST" action="/message/delete")
          button(type="submit" class="delete-button")
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 256 256"><path fill="#992424" d="M205.66 194.34a8 8 0 0 1-11.32 11.32L128 139.31l-66.34 66.35a8 8 0 0 1-11.32-11.32L116.69 128L50.34 61.66a8 8 0 0 1 11.32-11.32L128 116.69l66.34-66.35a8 8 0 0 1 11.32 11.32L139.31 128Z"/></svg>
  
  if currentUser
    button(class="new-message")
      a(href="/new-message")
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 36 36"><path fill="#3e79d0" d="M30 17H19V6a1 1 0 1 0-2 0v11H6a1 1 0 0 0-1 1a.91.91 0 0 0 1 .94h11V30a1 1 0 1 0 2 0V19h11a1 1 0 0 0 1-1a1 1 0 0 0-1-1Z" class="clr-i-outline clr-i-outline-path-1"/><path fill="none" d="M0 0h36v36H0z"/></svg>


