extends layout

block content
  div(class="messages-container")
    h2 MESSAGES
    each message in messages
      div(class="messages")
        h3(class="title") #{message.title}
        h3(class="message-body") #{message.body}
        h3(class="user-name") #{message.user.full_name}